/** Styles for the heatmap visualization */
body {
  shape-rendering: crispEdges;
}
.axisVertical {
    font-family:sans-serif;
    font-size:14px;
}
.axisHorizontal {
    font-family:sans-serif;
    font-size:14px;
}
.cell{ 
  stroke: #FFF;
}
#chartTitle{
    font-family:sans-serif;
    font-size:18px;
}


