/** Some Styles for the axes, labels and title of a graph, currently used in the barchart and scatterplot */

/** The main line of the x and y axis*/
.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke:#bdbdbd;
  /**stroke:#636363;*/
  stroke-width:2;
}
/** The number ticks */
.axis text{
  font-family: sans-serif;
  font:verdana;
  font-size:18px;
  fill:#bdbdbd;
   /**fill:#636363;*/
  font-weight: bold;
}
/** The labels of x and y dimensions */
.axisLabel {
  font-family: sans-serif;
  font-size:14px;
  text-anchor: end;
  fill:#bdbdbd;
  /**fill:#636363;*/
}
/** The title of the graph */
#graphTitle{
    font-family: sans-serif;
    font-size:18px;
    fill:#bdbdbd;
    /**fill:#636363;*/
}




