/** Some Styles for the axes, labels and title of a graph, currently used in the barchart and scatterplot */

/** The main line of the x and y axis*/
.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke:#EDEDED;
  stroke-width:2;
}
/** The number ticks */
.axis text{
  font-family: sans-serif;
  font:verdana;
  font-size:18px;
  fill:#EDEDED;
}
/** The labels of x and y dimensions */
.axisLabel {
  font-family: sans-serif;
  font-size:20px;
  text-anchor: end;
  fill:#EDEDED;
}
/** The title of the graph */
#graphTitle{
    font-family: sans-serif;
    font-size:28px;
    fill:#EDEDED;
}




