/** Some Styles for the barchart visualization */
html{
     /**Hack for hiding the cursor
    cursor: url(invisibleCursor.png), default;*/
}
body {
    /**Disables default selections (text, svg elements) of the browser*/
    -webkit-user-select: none;
}

/*Labels on the hint path */
.hintLabels {
  font-family: sans-serif;
  font-size:12px;
  text-anchor:middle;
  fill:#969696;
  /**stroke-width:0.25;
  stroke:#FFF;    */
}
/*The hint path*/
#path{
    stroke-width:2;
    fill:none;
    /**stroke:#9ecae1; */
    stroke:#1f77b4;
}

/*For the short hint path */
#forwardPath, #backwardPath{
    stroke-width:2;
    fill:none;
}
#underLayer{
    stroke-width:4;
    fill:none;
    stroke:#FFFFFF;
}


/*The interaction path (sine wave)*/
.interactionPath{
 stroke-dasharray:3,3;
 fill: none;
 /**stroke: #c7c7c7;  */
 stroke:#969696;
}
/*The anchor along the interaction path */
#anchor{
  fill: none;
  stroke:#c7c7c7;
}
/*The bars */
.displayBars{
    fill:#74c476;
}

/**Styles for selecting indicators on html page */

/**Radio button form for changing the type of indicator drawn along the sine wave*/
#indicatorForm {
    position:absolute;
    right:10px;
    top:10px;
    font-family:sans-serif;
    font-size:14px;
    fill:#c7c7c7;
}

/**Radio button form for changing the type of progress indicator drawn along paths*/
#progressForm {
    position:absolute;
    right:10px;
    top:40px;
    font-family:sans-serif;
    font-size:14px;
    fill:#c7c7c7;
}

/*Styles for the progress indicator */
#progress{
   fill:none;
  /** stroke:#1E5B84; Old Dark Blue */
   stroke:#1f77b4;
   stroke-width:2;
}





