/** Some styles for the Scatterplot visualization */
body {
    /**Disables default selections (text, svg elements) of the browser*/
    -webkit-user-select: none;
    -moz-user-select: none;
    overflow:hidden;
    background-color: #2C2D2D;
}
/**The labels on the hint path */
.hintLabels {
    font-family: sans-serif;
    font-size:18px;
    text-anchor:middle;
    fill:#EDEDED;
    cursor:pointer;
}

/*The hint path*/
#path{
    /**stroke-width:2;*/
    fill:none;
   /** stroke:#aec7e8;*/
    stroke:white;
    stroke-width:2;
}

/*The points */
.displayPoints{
    /**fill:#EDEDED;*/
    fill:#A8DDB5;
    stroke:#2C2D2D;
    stroke-width:1;
    fill-opacity:1;
    cursor:pointer;
}

/*The interaction path (loop)*/
.loops {
    fill:none;
    /**stroke-dasharray:5,5;*/
	stroke-width:2;
    stroke:white;
}

/*The anchor along the interaction path */
#anchor{
    fill: none;
    stroke:#c7c7c7;
}
/*For the short hint path */
#forwardPath, #backwardPath{
    stroke-width:2;
    fill:none;
}
/**Labels on the points */
.pointLabels {
    font-family: sans-serif;
    font-size:18px;
    fill:#EDEDED;
}
/** The main line of the x and y axis*/
.xAxis path,.yAxis path, .yAxis line, .xAxis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke:#EDEDED;
    stroke-width:2;
}
/** The number ticks */
.xAxis text,.yAxis text{
    font-family: sans-serif;
    font:verdana;
    font-size:18px;
    fill:#EDEDED;
}

.multiples .xAxis text,.multiples .yAxis text{
    font-size:14px;
}

/** The labels of x and y dimensions */
.axisLabel {
    font-family: sans-serif;
    font-size:18px;
    text-anchor: end;
    fill:#EDEDED;
}
/** The title of the graph */
#graphTitle{
    font-family: sans-serif;
    font-size:28px;
    fill:#EDEDED;
}

/**Special styles for the axes and grid lines */
/**.xAxis path{
    stroke:#e41a1c;
}
.yAxis path {
    stroke:#377eb8;
}*/
.yAxis line,.xAxis line{
    opacity:0.2;
}




